# Spring Boot
target/
*.log
*.class

# IDE
.idea/
.vscode/
*.iml

# Application config (IMPORTANT)
src/main/resources/application.yml
src/main/resources/application.properties
src/main/resources/application-*.yml

# OS
.DS_Store
Thumbs.db